[Desktop Entry]
Comment[en_IN]=
Comment=
Exec=/usr/bin/xbindkeys
GenericName[en_IN]=
GenericName=
MimeType=
Name[en_IN]=xbindkeys
Name=xbindkeys
Path=
StartupNotify=false
Terminal=false
Type=Application
Hidden=false
