[core]
	editor = vim
	autocrlf = input

[alias]
    graph = log --decorate --oneline --graph
	co = checkout
	br = branch -v
	st = status
	ci = commit -v
    fu = fetch upstream
    remain = rebase upstream/main
[fetch]
    prune = true


# region delta config
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictStyle = zdiff3
# endregion
